<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Datos Personales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="assets/img/Captura.PNG" height="200" width="200" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 col-md-6>
        <p>
          Nombre:
        </p>
      </ion-col>
      <ion-col col-12 col-md-6>
        <p>
          Elias Emmanuel
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-md-6>
        <p>
          Apellido:
        </p>
      </ion-col>
      <ion-col col-12 col-md-6>
        <p>
          Cardenas Sanchez
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-md-6>
        <p>
          Ocupación:
        </p>
      </ion-col>
      <ion-col col-12 col-md-6>
        <p>
          Estudiante UG. Ing.Sist.Infor.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-md-6>
        <p>
          Edad:
        </p>
      </ion-col>
      <ion-col col-12 col-md-6>
        <p>
          21 años
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-md-6>
        <p>
          Estatura:
        </p>
      </ion-col>
      <ion-col col-12 col-md-6>
        <p>
          169 cm
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-md-6>
        <p>
          Número de telefónico:
        </p>
      </ion-col>
      <ion-col col-12 col-md-6>
        <p>
          0969415003
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-md-6>
        <p>
          Email Personal:
        </p>
      </ion-col>
      <ion-col col-12 col-md-6>
        <p>
          elias.cardenas.k@hotmail.com
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-md-6>
        <p>
          Sexo:
        </p>
      </ion-col>
      <ion-col col-12 col-md-6>
        <p>
          Masculino
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-md-6>
        <p>
          Estado Civil:
        </p>
      </ion-col>
      <ion-col col-12 col-md-6>
        <p>
          Soltero
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-md-6>
        <p>
          Nacionalidad:
        </p>
      </ion-col>
      <ion-col col-12 col-md-6>
        <p>
          Ecuatoriana
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-md-6>
        <p>
          Domicilio:
        </p>
      </ion-col>
      <ion-col col-12 col-md-6>
        <p>
          Guayas-Guayaquil-Copp Juan Montalvo
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  
