<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Habilidades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6>
        <p>
          Word:
        </p>
      </ion-col>
      <ion-col col-12 col-md-6>
        <p>
          Avanzado.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-md-6>
        <p>
          Excel:
        </p>
      </ion-col>
      <ion-col col-12 col-md-6>
        <p>
          Intermedio
          <!-- <ion-input placeholder="Uni.., colegio, insti.."></ion-input> -->
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-md-6>
        <p>
          Power Point:
        </p>
      </ion-col>
      <ion-col col-12 col-md-6>
        <p>
          Avanzado.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-md-6>
        <p>
          Idiomas:
        </p>
      </ion-col>
      <ion-col col-12 col-md-6>
        <p>
          Avanzado.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
